<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.pdf_ai.mapper.PdfChunkMapper">

    <insert id="insertBatch" parameterType="list">
        INSERT INTO pdf_chunk (pdf_id, chunk_index, content, page_num, vector_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.pdfId}, #{item.chunkIndex}, #{item.content}, #{item.pageNum}, #{item.vectorId})
        </foreach>
    </insert>

</mapper>